$md-shadow-light-depth-level-1: rgba(0,0,0,0.21) 3px 3px 8px;
$md-shadow-light-depth-level-2: rgba(0,0,0,0.19) 4px 4px 15px;
$md-shadow-light-depth-level-3: rgba(0,0,0,0.16) 5px 5px 25px;
$md-shadow-light-depth-level-4: rgba(0,0,0,0.14) 6px 6px 35px;
$md-shadow-light-depth-level-5: rgba(0,0,0,0.10) 7px 7px 45px;

$md-shadow-dark-depth-level-1: rgba(0,0,0,0.82) 3px 3px 8px;
$md-shadow-dark-depth-level-2: rgba(0,0,0,0.79) 4px 4px 15px;
$md-shadow-dark-depth-level-3: rgba(0,0,0,0.77) 5px 5px 25px;
$md-shadow-dark-depth-level-4: rgba(0,0,0,0.76) 6px 6px 35px;
$md-shadow-dark-depth-level-5: rgba(0,0,0,0.75) 7px 7px 45px;


$md-color-fullscreen-cloak-light: rgba(#000,0.54);
$md-color-fullscreen-cloak-dark: rgba(#FFF,0.32);


$md-color-screnn-background-light: #EEE;
$md-color-screnn-background-dark: #1E1E1E;

$md-color-divice-background-light: #FAFAFA;
$md-color-divice-background-dark: #303030;

$md-color-components-background-light: #FFF;
$md-color-components-background-dark: #424242;






