@import "../../_theme/theme";

.mp-button {
    border-radius: 3px;
    border: none;
    outline: none !important;
    padding: 8px 24px;
    margin: 8px;
    min-width: 96px;
    cursor: pointer;
}
