@import "../../_theme/theme";

.mp-datetime-picker {
    position: relative;
    width: 100%;

    &.headless {
        .mp-datetime-picker-popout {
            top: 42px;
        }
    }

    .mp-datetime-picker-popout {
        position: absolute;
        top: 56px;
        left: 16px;
        display: flex;
        align-items: center;
        padding: 8px 16px;
        z-index: 9000;

        .diliver {
            padding-left: 4px;
            padding-right: 6px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            display: block;
            top: -8px;
            left: 48px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid map-get($theme-map,'component-light');

            @at-root .theme-dark & {
                border-bottom-color: map-get($theme-map,'component-dark');
            }
        }
    }
}
