@import "../../../_theme/theme";

.mp-dtp-selector-slider {
    $height: 32px;

    padding-left: 8px;
    padding-right: 8px;
    height: $height * 5;
    @include disable-select();

    .mp-dtp-selector-numbers-container {
        width: 32px;
        height: 100%;

        .mp-dtp-selector-number {
            height: $height;
            line-height: $height;
            text-align: center;
            font-size: 13px;
            cursor: row-resize;

            &.swiper-slide-active {
                font-size: 17px;
                color: map-get($theme-map,'primary-light');

                @at-root .theme-dark & {
                    color: map-get($theme-map,'primary-dark');
                }
            }
        }
    }

    &.mp-dtp-selector-slider-width {
        .mp-dtp-selector-numbers-container {
            width: 40px;
        }
    }
}
