.mp-btn-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    outline: none !important;
    transition: background-color 0.25s ease;

    i {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    &:not(.mp-disabled):hover {
        background: rgba(#000,0.1);

        @at-root .theme-dark & {
            background: rgba(#fff,0.1);
        }
    }
}
